 <div class="side-header">
    <div class="user_link">
      <a href=''>鈴木<a>
    </div>
    <div class="chat_link">
      <a href=''>チャットを作成する</a>
    </div>
  </div>

  <div class="side-body">
    <div class=chatroom><a href=''>techroom1</a></div>
    <div class=chatroom><a href=''>techroom2</a></div>
    <div class=chatroom><a href=''>techroom3</a></div>
    <div class=chatroom><a href=''>techroom4</a></div>
    <div class=chatroom><a href=''>techroom5</a></div>
    <div class=chatroom><a href=''>techroom6</a></div>
  </div>